.section_padding {
    padding: 4rem 4rem;
}

.footer {
    margin-top: 0px;
    background-color: rgb(41, 41, 65);
    display: flex;
    flex-direction: column;
    height: px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}

.footer-links_div {
    width: 150px;
    margin: 1rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.social-media {
    display: flex;
    flex-direction: column;
}

.footer-links_div h3 {
    font-size: 18px;
    line-height: 17px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.footer-links_div p {
    font-size: 12px;
    line-height: 15px;
    margin: 0.5rem 0;
    cursor: pointer;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 18px;
}

.footer-terms {
    display: flex;
    flex-direction: row;
}

.footer-terms p {
    font-size: 12px;
    line-height: 15px;
    margin-left: 2rem;
    color: white;
    font-weight: 600;
    text-align: center;
}

hr {
    color: white !important;
    width: 90%;
}

.footer-copyright p {
    font-size: 13px;
    line-height: 15px;
    color: white;
    font-weight: 600;

}

@media screen and (max-width: 950px) {
    h3 {
        font-size: 47px;
        line-height: 50px;
    }

    .footer-terms {
        display: flex;
        justify-content: space-around;
    }
}

@media screen and (max-width: 650px) {
    h1 {
        font-size: 37px;
        line-height: 42px;
    }

    .footer-links_div {
        margin: 1rem 0;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: left;
    }

    .footer-terms {
        flex-direction: column;
    }

    .footer-terms p {
        margin-left: 0rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 400px) {
    h3 {
        font-size: 27px;
        line-height: 35px;
    }

    .footer-terms a {
        width: 0.5px;
        margin-right: 5px;
    }
}