@tailwind base;
@tailwind components;
@tailwind utilities;

>>>>>>> 6afe2aff9357c4fad43048c776a105539da91460
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.background-contactus {
  backgroundColor: '#66FCF1',
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
:root { 
    /* --font1: #000000; /*Black */
    /* --font2: #FFFFFF; White  */
    /* --font3: #1F2833; Bunker   */
    /* --font4: #66FCF1 Light Cyan */
    /* --font5: #2F4454 Dark Blue */
    /* --font6: #DA7B93 Light Pink */
    /* --font7: #376E6F Dark Cyan */
    /* --color1: #000000; Black */
    /* --color2: #FFFFFF; White */
    /* --color3: #1F2833; Bunker */
    /* --color4: #66FCF1 Light Cyan */
    /* --color5: #2F4454 Dark Blue */
    /* --color6: #DA7B93 Light Pink */
    /* --color7: #376E6F Dark Cyan */ 

} 

.form {
  margin: 5px;
  border: solid 2px #1F2833;
  } 
.textarea {
    margin: 5px;
    border: solid 2px #1F2833; 
  } 